.search {
  padding: 67px 0 69px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 10px;
}
.search__wrapper {
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 9px;
}

.search__field {
  width: 100%;
  padding: 0 29px 0 25px;
  display: flex;
  align-items: center;
}

.search__icon {
  padding: 11px;
  background: url(../../images/loupe-icon.svg) no-repeat center;
}

.search__input {
  min-width: 100px;
  width: 100%;
  padding: 0 16px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background-color: transparent;
  outline: none;
  border: none;
}

.search__btn {
  margin: 0 0 0 auto;
  padding: 17px;
  cursor: pointer;
  background-color: #000;
  background-image: url(../../images/loupe-icon-white.svg);
  background-repeat: no-repeat;
  background-position: 11px;
  border-radius: 48px;
  border: none;
}