.header {
  padding: 18px 0;
}

.header_background_pink {
  background-color: #f3c1f8;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  margin: 0 0 0 59px;
  padding: 0 0 5px;
  list-style: none;
  display: flex;
  column-gap: 16px;
}

.header__nav-list_type_main {
  column-gap: 30px;
}

.header__nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000;
}

.header__nav-link_active {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.header__nav-link_type_main {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__nav-link_type_profile {
  padding: 7px 21px 9px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: #f9f9f9;
  border-radius: 20px;
}

.header__nav-link_type_signin {
  padding: 8px 20px;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
}